@model AllasModel

<body>
<style>
    .title {
        font-size: 16px;
        text-transform: uppercase;
        margin: 0.1rem;
        width: fit-content;
    }

    #form {
        width: fit-content;
        margin: 1rem auto;
    }

    #form >div{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
        width: fit-content
    }

    input[type="submit"] {
        width: 100%;
    }

    h1 {
        text-align: center;
    }
</style>

<h1>Új Pozíció Hozzáadása</h1>

<p>@Html.ValidationSummary()</p>

<form action="Add" method="post" id="form">
    <div>
    <div>
        <p class="title">Pozicíó Neve</p>
        @Html.EditorFor(t => t.Pozicio)
     </div>

    <div>
        <p class="title">Leírás</p>
        @Html.EditorFor(t => t.Leiras)
    </div>
    
    <div>
        <p class="title">Órabér</p>
        @Html.EditorFor(t => t.Oraber)
    </div>
        </div>


    <input type="submit" value="Küldés" />
</form>
</body>