@model IEnumerable<AllasModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AllasUser> SignInManager
@inject UserManager<AllasUser> UserManager

<h1>TEEEEEEEEEEEEESZT</h1>

@foreach (var job in Model.GroupBy(t => t.Id))
{
    <li class="title">
        @job.Key
        <ul>
            @foreach (var item in job)
            {
                <li class="owner">
                    XD
                </li>
            }
        </ul>
    </li>
}

@*<ul>
    @foreach (var allas in Model)
    {
        <li>
            @allas.Pozicio @allas.Leiras @allas.Oraber
        </li>
    }
</ul>*@